// Primary palette colors and accent colors
$primary-dark:       $teal-700    !default;
$primary-light:      $teal-100 !default;
$primary:            $teal-500 !default;
$accent:             $amber-500  !default;
