md-content(layout="row" layout-align="center")
  md-card(flex-gt-md="60" flex-md="80" flex-sm="95")
    md-list
      md-list-item(ng-repeat="user in users")
          img.md-avatar(ng-src="{{user.image}}" alt="{{user.preferredName}}")
          p {{user.preferredName}} | {{user.googleId}}
          md-button.md-icon-button.md-warn(aria-label="Remove {{user.preferredName}}")
            md-icon(md-svg-icon="content:remove_circle" ng-click="removeUser(user)")
